version: "3"

services:
  postgres:
    image: postgres:11.2-alpine
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pwd
      POSTGRES_DB: pgdb
    volumes:
      - "./data/sql:/docker-entrypoint-initdb.d/:ro"
    ports:
      - "5436:5432"

  mssql:
    image: microsoft/mssql-server-linux:2017-CU12
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: MyPassw0rd
    ports:
      - "1433:1433"