{{ define "title" }}Database{{ end }}
{{ define "body" }}
    <form method="post" action="/database">
        <div class="form-group">
            <label for="db-type">Database type:</label>
            <select id="db-type" class="form-control" name="driver">
                <option {{ if eq .Driver "sqlserver" }}selected{{ end }} value="sqlserver">SQL Server</option>
                <option {{ if eq .Driver "postgres"}} selected {{ end }}value="postgres">Postgres</option>
            </select>
        </div>

        <div class="form-group">
            <label for="db-dsn">Database connection string:</label>
            <input type="text" id="db-dsn" class="form-control {{ if .Error }}is-invalid{{ else }}{{ if .DSN }}is-valid{{ end }}{{ end }}" placeholder="" name="dsn" value="{{ .DSN }}">
            <div class="invalid-feedback">
                {{ if .Error }}{{ .Error | humanize }}{{ end }}
            </div>
            <div class="valid-feedback">
                Connection to database is OK.
            </div>
            <small class="form-text">
                Example: <code>Server=127.0.0.1; Database=myDB; User Id=username; Password=password</code> <br/>
                Refer to <a href="https://www.connectionstrings.com/sql-server/" target="_blank">this site</a> for more
                examples of MSSQL Connection strings.
            </small>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

{{ end }}