{{ define "title" }}Status{{ end }}
{{ define "body" }}
    {{ if .Validation.IsValid }}

        {{ if .Configuration.Active }}
            <div class="card my-4">
                <div class="card-header text-white bg-success">
                    Service is running
                </div>
                <div class="card-body">
                    <p>
                        Most recent events:
                    </p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Query</th>
                            <th>Upload</th>
                            <th>Destination</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $i, $evt := .History.Events }}
                            {{ if $evt.Error }}
                                <tr class="table-danger">
                                    <td>{{ $evt.Time.Format "Jan _2 15:04:05" }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><pre>{{ $evt.Error }}</pre></td>
                                </tr>
                            {{ else }}
                                <tr class="table-success">
                                    <td>{{ $evt.Time.Format "Jan _2 15:04:05" }}</td>
                                    <td>{{ $evt.QueryDuration.Seconds|printf "%0.3fs" }}</td>
                                    <td>{{ $evt.UploadDuration.Seconds|printf "%0.3fs" }}</td>
                                    <td>{{ $evt.Type }}</td>
                                    <td>{{ $evt.Size }} item(s) uploaded</td>
                                </tr>
                            {{ end }}
                        {{ else }}
                            <tr>
                                <td class="table-warning" colspan="4">No events</td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        {{ else }}
            <div class="card my-4">
                <div class="card-header text-white bg-warning">
                    Service is paused
                </div>
                {{/*<div class="card-body">*/}}
                {{/*<a href="/resume" class="card-link">Resume upload</a>*/}}
                {{/*</div>*/}}
            </div>
        {{ end }}
    {{ else }}


        {{ if .Validation.DatabaseConnection }}
            <div class="card my-4">
                <div class="card-header text-white bg-danger ">
                    Database connection failed
                </div>
                <div class="card-body">
                    {{ .Validation.DatabaseConnection | humanize }}
                </div>
                <div class="card-body border-top">
                    <a href="/database" class="card-link">Update configuration</a>
                </div>
            </div>
        {{ end }}

        {{ if .Validation.VisitorQuery }}
            <div class="card my-4">
                <div class="card-header text-white bg-danger ">
                    Visitor query failed
                </div>
                <div class="card-body">
                    {{ .Validation.VisitorQuery | humanize }}
                </div>
                <div class="card-body border-top">
                    <a href="/query" class="card-link">Update configuration</a>
                </div>
            </div>
        {{ end }}

        {{ if .Validation.D2DConnection }}
            <div class="card my-4">
                <div class="card-header text-white bg-danger ">
                    Upload failed
                </div>
                <div class="card-body">
                    {{ .Validation.D2DConnection | humanize  }}
                </div>
            </div>
        {{ end }}

        {{ if .Validation.D2DCredentials }}
            <div class="card my-4">
                <div class="card-header text-white bg-danger ">
                    Upload failed
                </div>
                <div class="card-body">
                    {{ .Validation.D2DCredentials | humanize }}
                </div>
                <div class="card-body border-top">
                    <a href="/upload" class="card-link">Update configuration</a>
                </div>
            </div>
        {{ end }}

        {{ if .Validation.Access }}
            <div class="card my-4">
                <div class="card-header text-black bg-warning">
                    Web interface is not secured
                </div>
                <div class="card-body">
                    {{ .Validation.Access | humanize }}
                </div>
                <div class="card-body border-top">
                    <a href="/access" class="card-link">Update configuration</a>
                </div>
            </div>
        {{ end }}
    {{ end }}
{{ end }}

