{{ define "title" }}Visitor query{{ end }}
{{ define "body" }}
    <form method="post" action="/query">
        <div class="form-group">
            <label for="db-query">Database query:</label>
            <textarea id="db-query" class="form-control {{ if .Error }}is-invalid{{ else }}is-valid{{ end }}" rows="10"
                      name="query">{{ .Query }}</textarea>
            <div class="invalid-feedback">
                {{ if .Error }}{{ .Error | humanize }}{{ end }}
            </div>
            <div class="valid-feedback">
                <p>
                    Query is correct and took <strong>{{ .QueryDuration.Seconds | printf "%0.3f"}}s</strong>.
                </p>
                {{ if .QueryResults }}
                    <p>
                        These are the first {{ .QueryResults|len }} results:
                    </p>
                    <div style="overflow-x: scroll">
                        <table class="table">
                            <thead>
                            <tr>
                                {{ range $i, $row := .Columns }}
                                <th>{{ $row.Name }}</th>
                                {{ end }}
                            </tr>
                            </thead>
                            <tbody>
                            {{ range $index, $row := .QueryResults }}
                                <tr>
                                    <td>{{ $row.ID }}</td>
                                    <td>{{ $row.MutatieID }}</td>
                                    <td>{{ $row.Locatie }}</td>
                                    <td>{{ $row.Aangemaakt }}</td>
                                    <td>{{ $row.BinnenkomstDatum }}</td>
                                    <td>{{ $row.BinnenkomstTijd }}</td>
                                    <td>{{ $row.AanvangTriageTijd }}</td>
                                    <td>{{ $row.NaarKamerTijd }}</td>
                                    <td>{{ $row.EersteContactTijd }}</td>
                                    <td>{{ $row.AfdelingGebeldTijd }}</td>
                                    <td>{{ $row.GereedOpnameTijd }}</td>
                                    <td>{{ $row.VertrekTijd }}</td>
                                    <td>{{ $row.Kamer }}</td>
                                    <td>{{ $row.Bed }}</td>
                                    <td>{{ $row.Ingangsklacht }}</td>
                                    <td>{{ $row.Specialisme }}</td>
                                    <td>{{ $row.Triage }}</td>
                                    <td>{{ $row.Vervoerder }}</td>
                                    <td>{{ $row.Geboortedatum }}</td>
                                    <td>{{ $row.OpnameAfdeling }}</td>
                                    <td>{{ $row.OpnameSpecialisme }}</td>
                                    <td>{{ $row.Herkomst }}</td>
                                    <td>{{ $row.Ontslagbestemming }}</td>
                                </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
                {{ end }}
            </div>
            <small class="form-text">
                Deze query dient de laatste N mutaties uit de patiëntenregistratie te selecteren. De volgende kolommen
                of aliassen dienen aanwezig te zijn:
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>Alias</th>
                        <th>Type</th>
                        <th>Gebruikelijke bron</th>
                        <th>Toelichting</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $i, $row := .Columns }}
                        <tr>
                            <td><code>{{.Name}}</code></td>
                            <td>{{.Type}}</td>
                            <td><code>{{.Source}}</code></td>
                            <td>{{.Description}}</td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </small>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
{{ end }}
