{{ define "title" }}Status{{ end }}
{{ define "body" }}
    {{ if .Validation.IsValid }}

        {{ if .Configuration.Active }}
            <div class="card my-4">
                <div class="card-header text-white bg-success">
                    Service is running
                </div>
                <div class="card-body">
                    <p>
                        Most recent uploads:
                    </p>
                    <ul class="list-unstyled">
                        <li>7 Mar 2019, 12:17 - Uploaded 129 items.</li>
                        <li>7 Mar 2019, 12:16 - Uploaded 129 items.</li>
                        <li>7 Mar 2019, 12:15 - Uploaded 127 items.</li>
                        <li>7 Mar 2019, 12:14 - Uploaded 125 items.</li>
                    </ul>

                </div>
                <div class="card-body border-top">
                    <a href="/pause" class="card-link">Pause upload</a>
                </div>
            </div>
        {{ else }}
            <div class="card my-4">
                <div class="card-header text-white bg-warning">
                    Service is paused
                </div>
                <div class="card-body">
                    <a href="/resume" class="card-link">Resume upload</a>
                </div>
            </div>
        {{ end }}
    {{ else }}


        {{ if .Validation.DatabaseConnection }}
            <div class="card my-4">
                <div class="card-header text-white bg-danger ">
                    Database connection failed
                </div>
                <div class="card-body">
                    {{ .Validation.DatabaseConnection | humanize }}
                </div>
                <div class="card-body border-top">
                    <a href="/database" class="card-link">Update configuration</a>
                </div>
            </div>
        {{ end }}

        {{ if .Validation.VisitorQuery }}
            <div class="card my-4">
                <div class="card-header text-white bg-danger ">
                    Visitor query failed
                </div>
                <div class="card-body">
                    {{ .Validation.VisitorQuery | humanize }}
                </div>
                <div class="card-body border-top">
                    <a href="/query" class="card-link">Update configuration</a>
                </div>
            </div>
        {{ end }}

        {{ if .Validation.D2DConnection }}
            <div class="card my-4">
                <div class="card-header text-white bg-danger ">
                    Upload failed
                </div>
                <div class="card-body">
                    {{ .Validation.D2DConnection | humanize  }}
                </div>
            </div>
        {{ end }}

        {{ if .Validation.D2DCredentials }}
            <div class="card my-4">
                <div class="card-header text-white bg-danger ">
                    Upload failed
                </div>
                <div class="card-body">
                    {{ .Validation.D2DCredentials | humanize }}
                </div>
                <div class="card-body border-top">
                    <a href="/upload" class="card-link">Update configuration</a>
                </div>
            </div>
        {{ end }}
    {{ end }}
{{ end }}

