{{ define "title" }}Upload{{ end }}
{{ define "body" }}
    <form method="post" action="/update-d2d">
        <div class="form-group">
            <label for="d2d-username">Username:</label>
            <input type="text" id="d2d-username" class="form-control">
        </div>
        <div class="form-group">
            <label for="d2d-password">Password:</label>
            <input type="password" id="d2d-password" class="form-control">
        </div>

        <div class="text-right">
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
{{ end }}
